* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  nav {
    font-family: 'Syne Mono', monospace;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
  }
  
  main {
    min-height: 100vh;
    background: linear-gradient(to right top, #F5FDC6, #F1FCB0);
    font-family: 'Poppins';
  }

.header {
    background-color: #d0b17a;
    font-family: 'Montserrat', sans-serif;
    line-height: 1rem;
}

.header h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 70px;
    margin: auto;
}


.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links a {
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
}

.nav-links li {
    list-style: none;
}

.hero {
    background-image: url('../img/ashkan-forouzani-3A38wAgyEmk-unsplash.jpg');
    background-size: cover;
    background-position: center center;
    color: linen;
    top: 100px;
    height: 80vh;
    width: 100%;
}

.checkbox {
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    background-color: firebrick;
    color: linen;
}

.blurbs {
    text-align: center;
    margin: 20px;
    align-items: center;
    display: flex;
    height: 20vh;
}

.blurbs img {
    width: 70px;
    height: 70px;
}

.checkbox li {
    list-style: none;
}

.quotes {
    align-items: center;
    text-align: center;
    padding: 30px;
    line-height: 2.5rem;
}

.quotes p:nth-of-type(2) {
    color: firebrick;
    display: inline-block;
}