* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #EAE2B7;
}

.header {
    background-color: #C6ECAE;
    color:#ca0000;
    padding: 1em;
    justify-content: space-around;
}

.header h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 5em;
    line-height: 1em;
    
}

.header i {
    color: black;
}

.header img {
    height: 100px;
    float: right;
    border-radius: 50%;
    position: relative;
    bottom: 50px;
    left: 25px;
    animation: grow 1s;
}

@keyframes grow {
    0% {height: 10px; width: auto;}
    /* 25% {height: 50px; width: auto;} */
    50% {height: 50px; width: auto;}
    7
}


nav {
    background: #f2f2f2;
    width: 100%;
    padding: 1em;
    font-family: 'Syne Mono', monospace;
}

nav h4 {
    padding-top: .5em;
    padding-bottom: 1em;
}

nav a {
    color: black;
    display: block;
    line-height: 1.3em;
}

nav a:hover {
    color: #ca0000;
    transition: .3s
}

.hero {
    background: url('/img/ashkan-forouzani-3A38wAgyEmk-unsplash.jpg');
    display: grid;
}
.hero { 
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)), url('/img/ashkan-forouzani-3A38wAgyEmk-unsplash.jpg');
    /* creates a transparent linear gradient over the background image to make text more legible */
    grid-column: 1/4;
    height: 400px;
    background-size: cover;
    color: linen;
    max-width: 100%;
    place-content: center;
    
}

.hero-text {
    text-align: center;
    backdrop-filter: blur(10px);
    margin: 20px;
    border: solid white;
    padding: 15px;
}

.checkbox {
    background-color: #e62887;
    color: white;
}

.checkbox ul {
    display: flex;
    font-size: .8em;
    justify-content: space-around;
    font-family: 'arial';
    padding: .2em;
}

.cards-wrapper{
    /* background: linear-gradient(90deg, hsla(239, 77%, 70%, 1) 0%, hsla(0, 0%, 100%, 1) 100%); */
    background: white;
    display: grid;
    place-items: center center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
}

/* .container {
    position: relative;
    opacity: 0.9;
}

.container:hover{
    opacity: 1;
    transition: 0.2s;
}

.container:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.2;
}  

.card>.container:after{
    background-color: rgb(31, 30, 30);
} */

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    padding: 20px;
    grid-gap: 40px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18 );
    background: linear-gradient(180deg, rgb(229, 195, 153) 0%, rgb(236, 233, 139) 100%);
}

.card img {
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}

.details {
    padding: 20px 10px;
}

.details>h3 {
    font-weight: 600;
    font-size: 30px;
    color: firebrick;
    margin: 10px 0 15px 0;
    text-align: center;
}

.details>p {
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}

.styles-wrapper {
    background: #C6ECAE;
    display: grid;
    place-items: center center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.styles {
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    padding-bottom: 20px;
    place-content: center;
}

.styles p {
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

.style-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    padding: 20px;
    grid-gap: 40px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18 );
    background: linear-gradient(180deg, rgb(229, 195, 153) 0%, rgb(236, 233, 139) 100%);
}

.card img {
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}

.testimonials-section h1 {
    padding-bottom: 4em;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
  }
  
  .testimonials-section li {
    text-align: center;
    padding: 2em 1em;
    width: 80%;
    margin: 0 auto 5em auto;
    border-radius: 1em;
  }
  
  .testimonials-section li img {
    width: 200;
    height: 112px;
    border: 5px solid white;
    border-radius: 50%;
    margin-top: -4.5em;
  }
  
  h2 {
    font-size: 2em;
  }


  iframe {
    width: 100%;
    height: 300px;
    padding-top: 1.2em;
  }

.footer-section {
    background-color: #C6ECAE;
    padding: 2em;
}

@media screen and (max-width: 600px) {
    .card {
        width: 100%;
    }
}

@media screen and (min-width: 800px) {
    nav ul{
        display: flex;
        justify-content: space-evenly;
        padding-bottom: .5em;
    }

    nav h4 {
        padding-bottom: 1.5em;
    }

    .header-text {
        text-align: center;
    }

    .header-img {
        position: absolute;
        top: 10%;
        bottom: 100%;
        justify-content: center;
        left: 70%;
        right: 50%;
        transition: .5s;
    }

    .testimonials-section {
        display: grid;
        grid-template-columns: 180px auto;
    }
}
  