* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.logo{
    text-align: center;
    padding: 10px;
}

.logo h1 {
}

  nav {
    font-family: 'Syne Mono', monospace;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #F9F9F9;
  }

  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links a {
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    color: black;
}

.nav-links a:hover {
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    color: firebrick;
}

.nav-links li {
    list-style: none;
}

  main {
    min-height: 100vh;
    background: linear-gradient(to bottom, #F9F9F9, #5d8f77);
    font-family: 'Poppins';
  }

.header {
    background-color: #d0b17a;
    font-family: 'Montserrat', sans-serif;
    line-height: 1rem;
}

.header h1 {
    font-family: 'Kaushan Script', cursive;
    font-size: 70px;
    margin: auto;
}

.bg-image {
    /* The image used */
    background-image: url('../img/ashkan-forouzani-3A38wAgyEmk-unsplash.jpg');
    /* Add the blur effect */
    filter: blur(2.5px);
    -webkit-filter: blur(2.5px);
    border: solid black;
    backdrop-filter: screen;
  
    /* Full height */
    height: 80vh;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Position text in the middle of the page/image */
.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.checkbox {
    justify-content: space-evenly;
    width: 100%;
    text-align: center;
    background-color: rgb(236, 21, 21);
    color: linen;
    margin-bottom: 50px;
}

.styles {
    margin-top: 100px;
    text-align: center;
    font-size: 50px;
}

.card {
    padding: 20px;
    background: linear-gradient(to bottom, #F9F9F9, #5d8f77);
    justify-content: center;
    align-items: center;
    border: none;
    text-align: center;
    line-height: 2rem;
}



.card img{
    overflow: hidden;
    height: 400px;
    width: 400px;
    border-radius: 5%;
}


.blurbs {
    text-align: center;
    margin: 20px;
    align-items: center;
    display: flex;
    height: 20vh;
}

.blurbs img {
    width: 70px;
    height: 70px;
}

.checkbox li {
    list-style: none;
}

.quotes {
    background-color: linen;
    margin-top: 100px;
    align-items: center;
    text-align: center;
    padding: 30px;
    line-height: 2.5rem;
}

.names {
    align-items: center;
    text-align: center;
    padding: 30px;
    color: rgb(95, 9, 9);
    font-style: italic;
    line-height: 1.2;
}

footer {
    background: linear-gradient(to bottom, #999999, #8F8F8F);
    width: 100vw;
    padding: 50px 0;
}

footer .logo {
    font-family: 'Kaushan Script', cursive;
    font-size: 70px;
    margin: auto;
}

footer li {
    list-style: none;
    text-align: center;
}

footer .copy{
    text-align: center;
}
